body{
	background: rgba(164, 126, 16, 0.7);
	display:flex;
	flex-direction: column;
}

.bos{
	width: 800px;
	height: 430px;
	
}

.bosd{
	margin: auto;
	overflow: hidden;
	border: 10px solid black;
	width: 800px;
	height: 430px;
	margin-top: 50px;

}

.slide_1{
	position: absolute;
	width: 800px;
	height: 430px;
}
#slide_2{
	position: absolute;
	width: 800px;
	height: 430px;
}
.but{

	margin: auto;

}